html, body {
    margin: 0;
}

body {
    font-family: Inter;
    align-items: center;
    justify-content: center;
}

.container {
  display: flex;
}
header{
height: 90px;

}

header>nav{
display: flex;
height: 100%;
width: 100%;
align-items: center;
justify-content: center;
   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}


nav > img {
    height: 44px;
    width: 45px;
    margin-right: 10px;
}
nav>h1{
    margin-top: 15px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
form>input{
    border-radius: 6px;
    height:35px ;
width: 300px;
}
form> button{
    
    height: 35px;
    width: 140px;
background-color: black;
border-radius: 20px;
color: white;
margin-left: 20px;
}

.imgDiv{
    display: flex;

}
.ready-for-recipe{
    display: flex;
    flex-direction: row;
border-radius: 10px;
    margin-top: 90px;
align-items: center;
justify-content: center;
background-color: #F0EFEB;
width: 800px;
margin-left: 300px;
}

.recipe-inner-text{
display: flex;
flex-direction: column;

}
#recipe-button{
background-color: #D17557;
border-radius: 10px;
height: 50px;
margin-left: 30px;
color: white;
}
p{
    margin-top: 30px;
}